{% extends 'shopapp/base.html' %}

{% block content %}
<div class="add_header">
  <h1>Заполните поля для того, чтобы добавить товар</h1>
</div>

<div>
    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="nameInput" class="form-label">Название*</label>
        <input type="text" class="form-control" id="nameInput" name="name">
      </div>
      <div class="mb-3">
          <label for="contextInput" class="form-label">Описание</label>
          <textarea class="form-control" id="contextInput" rows="3" name="context"></textarea>
      </div>
      <div class="mb-3">
        <label for="imageInput" class="form-label">Изображение</label>
        <input type="file" class="form-control" id="imageInput" name="image">
      </div>
      <div class="mb-3">
        <label for="categoryInput">Категория*</label>
        <select id="categoryInput" class="form-control" name="category">
          <option selected>Выберите...</option>
          {% for object in object_list %}
          <option>{{ object.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="amountInput" class="form-label">Цена*</label>
        <input type="number" class="form-control" id="amountInput" name="amount">
      </div>
      <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</div>
{% endblock %}