{% extends 'shopapp/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="search">
        <form method="get">
            <input class="form-control" type="search" name="query" placeholder="Найдите нужный товар по названию...">
        </form>
    </div>
    <div class="row">
        {% for object in object_list %}
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                {% if object.image %}
                <img class="displayed_img" src="{{ object.image| mymedia }}">
                {% else %}
                <img class="displayed_img" src="/media/shopapp/not_found.jpeg">
                {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ object.name }}</h5>
                <p class="card-text">{{ object.amount }} ₽</p>
                <a href="{% url 'one_good' pk=object.pk %}" class="btn btn-primary">Подробнее</a>
              </div>
            </div>
        </div>
        {% empty %}
        <h2 class="header">К сожалению введённого вами товара нет(</h2>
        {% endfor %}
    </div>
{% endblock %}