{% extends 'shopapp/base.html' %}

{% load crispy_forms_tags %}
{% load my_tags %}

{% block content %}
<div class="col-12">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header" align="center">
                        <h3>{{ object|edit_or_create_good }}</h3>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">{{ object|edit_or_create_button }}</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header" align="center">
                        <h3>Версии</h3>
                    </div>
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                        {{ form|crispy }}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">Создать</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}