{% extends 'shopapp/base.html' %}
{% load my_tags %}
{% block content %}
<div class="search">
    <form method="get">
        <input class="form-control" type="search" name="query" placeholder="Найдите нужный товар по названию...">
    </form>
</div>
<div class="row">
    {% for object in object_list %}
    <div class="col-4 mb-3">
        <div class="card" style="width: 18rem;">
            <img class="displayed_img" src="{{ object.image|mymedia }}">
            <div class="card-body">
                <h5 class="card-title mt-2">{{ object.name }}</h5>
                <p class="card-text">{{ object.amount }} ₽</p>
                <p class="card-text">{{ object.version.name|check_version }}</p>
                <a href="{% url 'shopapp:one_good' pk=object.pk %}" class="btn btn-primary btn-block">Подробнее</a>
                <a href="{% url 'shopapp:product_edit' pk=object.pk %}" class="btn btn-outline-primary btn-block mt-2">Редактировать</a>
            </div>
        </div>
    </div>
    {% empty %}
    <h2 class="header">Товары не найдены</h2>
    {% endfor %}
</div>
{% endblock %}