{% extends 'shopapp/base.html' %}
{% load my_tags %}
{% block content %}
<div class="header">
    <h1>{{ object.name }}</h1>
</div>
<div class="good">
    <div class="row">
        {% if object.image %}
        <div class="col-6">
            <img class="good_logo" src="{{ object.image| mymedia }}">
        </div>
        {% else %}
        <div class="col-6">
            <img class="good_logo" src="/media/shopapp/404.jpeg">
        </div>
        {% endif %}
        <div class="col-6">
            <h4><b>Характеристики:</b></h4>
            <div class="description">
                <p>Цена: {{ object.amount }} рублей</p>
                <p>Категория: {{ category_object.name }}</p>
                {% if object.content %}
                <p>Описание: {{ object.content|slice:100 }}</p>
                {% else %}
                <p>Описание: Отсутствует</p>
                {% endif %}
            </div>
            <div class="buy">
                <a href="#" class="btn btn-primary btn-lg">Купить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
