<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">E&I Shop</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="{% url 'shopapp:main' %}">Главная</a>
    <a class="p-2 text-dark" href="{% url 'shopapp:all_categories' %}">Категории</a>
    <a class="p-2 text-dark" href="{% url 'shopapp:add_product' %}">Добавить товар</a>
    <a class="p-2 text-dark" href="{% url 'blogapp:main' %}">Блог</a>
    <a class="p-2 text-dark" href="{% url 'blogapp:add_material' %}">Добавить блог</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Войти</a>
</div>